Formato.txt
*.docx
*.pptx
/junio/semana_01_POO/04_06_2025_POO/poo/target/
/junio/semana_01_POO/06-06-2025-Mini_Proyecto/patronesdediseno/target/
/junio/semana_01_POO/06-06-2025-Mini_Proyecto/abstractfactory/patronesdediseno/target/
/junio/semana_01_POO/06-06-2025-Mini_Proyecto/strategy/strategypattern/target/
/junio/semana_01_POO/06-06-2025-Mini_Proyecto/tareaMuebles/TareaMuebles/target/
/junio/semana_01_POO/06-06-2025-Mini_Proyecto/TareaMiguel/target/
/junio/semana_02_Colecciones/11-06-2025-Colecciones_Java/colecciones/target/
/junio/semana_02_Colecciones/13-06-2025-Patron_Iterator/patron_iterator/target/
